/* ================= MENU ================= */

.menu {
    position: fixed;
    width: 100%;
    background: #0b0b0c;
    border-bottom: 1px solid #1a1a1a;
    z-index: 999;
}

/* CONTAINER */
.menu-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 20px;
}

/* LOGO */
.logo {
    font-size: 1.7rem;
    letter-spacing: 4px;
}

/* ESCONDE CHECKBOX */
#menu-toggle {
    display: none;
}

/* HAMBURGUER */
.menu-icon {
    display: none;
    font-size: 2rem;
    cursor: pointer;
}

/* LISTA */
.menu-list {
    display: flex;
    align-items: center;
    gap: 35px;
    list-style: none;
}

/* ITEM PADRONIZADO */
.menu-item {
    width: 70px;
    height: 70px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 4px;
    cursor: pointer;
    position: relative;
    transition: 0.25s;
}

/* BARRA VERMELHA */
.menu-item::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    width: 0%;
    height: 2px;
    background: #8b0000;
    transition: width 0.3s ease;
}

.menu-item:hover::after {
    width: 60%;
}

/* ICONES */
.menu-item img {
    width: 60px;
    height: 60px;
    object-fit: contain;
    filter: grayscale(100%);
    transition: 0.3s;
    filter: invert(1) brightness(1.2);
    padding: 2px;
}

/* TEXTO */
.menu-item a {
    font-size: 0.7rem;
    text-transform: uppercase;
    color: #aaa;
    text-align: center;    
    text-decoration: none;
}

/* HOVER */
.menu-item:hover {
    transform: translateY(-3px);
}

.menu-item:hover img {
    filter: grayscale(0%);
    filter: invert(0.7) brightness(1.2);
}

.menu-item:hover a {
    color: #fff;
}

/* ================= MOBILE ================= */

@media (max-width: 768px) {

    .menu-icon {
        display: block;
        color: #fff;
    }

    .menu-wrapper {
        padding: 15px 20px;
    }

    .menu-list {
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        flex-direction: column;
        background: #0b0b0c;

        padding: 0 20px;
        gap: 0;

        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s ease;
    }

    #menu-toggle:checked ~ .menu-list {
        max-height: 600px;
        padding: 15px 20px;
    }

    .menu-item {
        width: 100%;
        height: auto;

        flex-direction: row;
        justify-content: flex-start;
        gap: 10px;

        padding: 12px 0;
        border-bottom: 1px solid #151515;
    }

    .menu-item::after {
        display: none;
    }

    .menu-item:hover {
        transform: translateX(5px);
    }

    .menu-item img {
        width: 26px;
        height: 26px;
    }
}