.menu { background-color: #f0f0f0; padding: 10px; }

.menu {
  width: 100%;
  display: block;
  text-align: center; 
  padding: 0;
}

.menu-h1 {
  display: inline-block;   
  margin: 0 auto 20px;
  padding: 0;
  width: auto;
  max-width: 90%;

  text-align: center !important;
  font-family: sans-serif;
  font-size: 50px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.2px;  
  line-height: 1;    

  color: transparent;
  background: #000000;
  -webkit-background-clip: text;
  background-clip: text;

  filter: drop-shadow(0 2px 3px rgba(0,0,0,0.6))
}

.menu-h1:hover{
    filter: drop-shadow(0 2px 3px rgba(255, 165, 0,0.6));
}

.menu-h1::after {
  content: "";
  display: block;
  width: min(600px, 40vw);
  height: 3px;
  margin: 14px auto 0;
  background: linear-gradient(90deg, transparent, #000000, transparent);
  border-radius: 2px;
}


.menu ul {    
    display: flex;
    flex-wrap: wrap;
    list-style: none; 
    gap: 12px;    
    justify-content: center;
    padding: 0;
    margin: 0;
}

.btn-menu {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
    cursor: pointer;
    width: calc(50% - 12px);
    max-width: 150px;
    padding: 12px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
    transition: transform .2s;
}

.avatar {
    width: clamp(60px, 20vw, 100px);
    height: auto;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
    margin-top: -10px;
}

.menu-text { display: flex; flex-direction: column; align-items: center; gap: 2px; }

.sin {
    font-size: 10px;
    color: #b5b5c0;
    text-align: center;
}

.label {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: #80808a;
    font-weight: 600;
    font-variant: small-caps;
}

.btn-menu:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 24px rgba(255, 165, 0,0.3);
    border: rgba(255, 165, 0) 2px solid;
    .sin{
        color: rgba(255, 165, 0, .5);
    }
    .label{
        color: rgba(255, 165, 0);
    }

}

/* TABLET */
@media (min-width: 600px) {
    .btn-menu { width: calc(33.333% - 12px); }
}

/* DESKTOP */
@media (min-width: 900px) {
    .menu { padding: 15px 30px; }
    .menu-h1 { text-align: left; }
    .menu ul { gap: 16px; }
    .btn-menu { width: 170px; height: 170px; }
    .label { font-size: 16px; }
    .sin { font-size: 13px; }
}